<header>
    <div id="connect"></div>
    <h1>Game Yams</h1>
    <nav>
        <ul>
            <li><a href="#play">Jouer</a></li>
            <li><a id="showSignModal" href="#signModal">S'inscrire</a></li>
            <li><a id="showLoginModal"href="#loginModal">Se connecter</a></li>
        </ul>
    </nav>
</header>