
<div class="modal" id="loginModal">
    <div class="modal-overlay"></div>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Login </h5>
                <button class="close" id="closeModalLogin">&times;</button>
            </div>
            <div class="modal-body" id="loginModalBody">
                <form action="/signup" method="post">
                    <label for="email">Email</label>
                    <input type="email" name="email" id="email">
                    <label for="password">Password</label>
                    <input type="password" name="password" id="password">
                    <input type="submit">

                </form>
            </div>
        </div>
    </div>
</div>

