
<div class="modal" id="signModal">
    <div class="modal-overlay"></div>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Sign up </h5>
                <button class="close" id="closeModalSign">&times;</button>
            </div>
            <div class="modal-body">
                <form action="/signup" method="post">
                    <label for="username">Username</label>
                    <input type="text" name="username" id="username">
                    <label for="email">Email</label>
                    <input type="email" name="email" id="emailSign">
                    <label for="password">Password</label>
                    <input type="password" name="password" id="passwordSign">
                    <input type="submit">
                </form>
            </div>
        </div>
    </div>
</div>

