<p> Bonne Chance <%= username%></p>
<section class="game">
    <header>
        <h2> The game </h2>
    </header>
    <ul>
        <li id="first-dice"></li>
        <li id="second-dice"></li>
        <li id="third-dice"></li>
        <li id="fourth-dice"></li>
        <li id="fifth-dice"></li>
    </ul>
    <button >PLAY</button>
    <p>Chance : <%= chanceCount %></p>
</section>